nav {
    background-color: black;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin: 0;
}

nav a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: gold;
}

body {
  background-image: url("/home/derothschild/Work_Projects/relocation_consultancy/images/homepage-background-image.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
    
}

/*possibly add transparent overlay ontop of the the image*/

/*body::before {
  background-color: rgba(0,0,0,0.75);
}*/

.text-color {
  color: midnightblue;
}